.react-quill {
  height: calc(100% - 42px);
}

.ql-container {
  height: calc(100% - 42px);
  padding: 24px 36px;
  font-size: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ql-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ql-toolbar.ql-snow {
  border-color: grey;
}

.ql-container.ql-snow {
  font-family: "Arial", sans-serif;
  color: white;
  border-color: grey;
}
